@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
  
	display: flex;
	align-items: center;
  }

.signingPage {
	overflow: hidden;
}

.game-card {
	min-width: 246px;
	max-width: 246px;
	margin: 2rem;
}

.login-card {
	min-width: 24rem;
	max-width: 24rem;
	margin: 2rem;
}

#fixedbutton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
	display:block;
  	height: 70px;
  	width: 70px;
  	border-radius: 50%;
	font-size: 35px;
	font-weight: lighter;
}

.img-box {
	position:relative;
	background-color: lightgray;
	width: 246px;
	height: 246px;
	object-fit: fill;
}

.game-img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-width: 246px;
	max-height: 246px;
}

.container {
	margin-top: 5rem;
	margin-bottom: 3rem;
}