{% extends "side.html" %}
{% block content2 %}

<!-- Modals -->
<div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border border-info">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('add') }}" method="post">
        <div class="modal-body text-center">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name" required="required" />
              <input type="text" name="img_link" class="form-control" placeholder="IMG Link" required="required" />
              <input type="text" name="year" class="form-control" placeholder="Year" required="required" />
              <input type="text" name="level" class="form-control" placeholder="Complexity" required="required" />
              <input type="text" name="minPlayers" class="form-control"  placeholder="Min players" required="required" />
              <input type="text" name="maxPlayers" class="form-control" placeholder="Max players" required="required" />
              <input type="text" name="time" class="form-control" placeholder="Time" required="required" />
              <input type="text" name="rate" class="form-control" placeholder="Rate" required="required" />
            </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% for boardgame in boardgames %}
<div class="modal fade" id="editGameModal{{ boardgame.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border border-info">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('edit', id=boardgame.id) }}" method="post">
      <div class="modal-body text-center">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Name" value="{{ boardgame.name }}" required="required" />
          <input type="text" name="img_link" class="form-control" placeholder="IMG Link" value="{{ boardgame.img }}" required="required" />
          <input type="text" name="year" class="form-control" placeholder="Year" value="{{ boardgame.year }}" required="required" />
          <input type="text" name="level" class="form-control" placeholder="Complexity" value="{{ boardgame.level }}" required="required" />
          <input type="text" name="minPlayers" class="form-control" placeholder="Min players" value="{{ boardgame.minPlayers }}" required="required" />
          <input type="text" name="maxPlayers" class="form-control" placeholder="Max players" value="{{ boardgame.maxPlayers }}" required="required" />
          <input type="text" name="time" class="form-control" placeholder="Time" value="{{ boardgame.time }}" required="required" />
          <input type="text" name="rate" class="form-control" placeholder="Rate" value="{{ boardgame.rate }}" required="required" />
        </div> 
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Collection</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#addGameModal">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <div>
    <div class="card-deck">
      {% for boardgame in boardgames %}
      <div class="card game-card text-center border-info">
        <div class="card-img-top img-box">
          <img src="{{ boardgame.img }}" class="game-img" alt="{{ boardgame.name }}">
        </div>
        <div class="card-header">
          <h4><i class="fas fa-star"></i> {{ boardgame.rate }}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ boardgame.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ boardgame.year }}</h6>
          <p class="card-text">Players: {{ boardgame.minPlayers }}-{{ boardgame.maxPlayers }}</p>
          <p class="card-text">Time: {{ boardgame.time }} min</p>
          <p class="card-text">Complexity: {{ boardgame.level }}</p>
        </div>
        <div class="card-footer text-muted">
          <!-- <a href="{{ url_for('edit', id=boardgame.id) }}" class="btn btn-info" role="button">Edit</a> -->
          <a href="#" data-toggle="modal" data-target='#editGameModal{{ boardgame.id }}' class="btn btn-info">Edit</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>


{% endblock %}