{% extends "base.html" %}
{% block content %}

<div class="signingPage">
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center vertical-center">
        <div class="card text-center">
          <img src="{{ boardgame.img }}" class="card-img-top" alt="Login">
          <div class="card-body">
            <h4 class="card-title">Edit</h4>
            <form action="{{ url_for('edit', id=boardgame.id) }}" method="post">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name" value="{{ boardgame.name }}" required="required" />
                </div>
                <div class="form-group">
                    <input type="text" name="img_link" placeholder="IMG Link" value="{{ boardgame.img }}" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" name="year" placeholder="Year" value="{{ boardgame.year }}" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" name="level" placeholder="Complexity" value="{{ boardgame.level }}" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" name="minPlayers" placeholder="Min players" value="{{ boardgame.minPlayers }}" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" name="maxPlayers" placeholder="Max players" value="{{ boardgame.maxPlayers }}" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" name="time" placeholder="Time" value="{{ boardgame.time }}" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" name="rate" placeholder="Rate" value="{{ boardgame.rate }}" required="required" />
                </div>
                <button type="submit" class="btn btn-info">Edit</button>
            </form> 
          </div>
          <div class="card-footer text-muted">
            <a href="{{ url_for('delete', id=boardgame.id) }}" class="btn btn-dark" role="button">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}