{% extends "base.html" %}
{% block content %}

<div class="container">

  <a class="btn btn-info" id="friendbutton" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-user"></i>
  </a>

  <div class="collapse" id="collapseExample">
    <div class="card border-info text-center friend-list" id="collapse-friend-list">
      <div class="card-header">
        <h5>My followings</h5>
      </div>
      <ul class="list-group list-group-flush">
        {% for following in followings %}
        <li class="list-group-item">
          <div class="media">
            <img src="{{ following.avatar }}" class="align-self-center mr-3 avatar"  alt="avatar">
            <div class="media-body">
                <a class="nav-link" href="{{ url_for('following', id=following.id) }}">{{ following.name }}</a>
                <a href="{{ url_for('deletefollowing', id=following.id) }}" class="nav-link" style="color: red">-</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="text-right">
        <a class="nav-link" href="{{ url_for('addfollowing') }}">+</a>
      </div>
    </div>
  </div>

  <div class="card border-info text-center friend-list" id="static-friend-list">
    <div class="card-header">
      <h5 class="text-center">My followings</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for following in followings %}
      <li class="list-group-item">
        <div class="media">
          <img src="{{ following.avatar }}" class="align-self-center mr-3 avatar"  alt="avatar">
          <div class="media-body">
              <a class="nav-link" href="{{ url_for('following', id=following.id) }}">{{ following.name }}</a>
              <a href="{{ url_for('deletefollowing', id=following.id) }}" class="nav-link" style="color: red">-</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="text-right">
      <a class="nav-link" href="{{ url_for('addfollowing') }}">+</a>
    </div>
  </div>
  
  <div>
    <h1>{{owner}}'s Collection</h1>
    <div class="card-deck">
      {% for boardgame in boardgames %}
      <div class="card game-card text-center border-info">
        <div class="card-img-top img-box">
          <img src="{{ boardgame.img }}" class="game-img" alt="{{ boardgame.name }}"> 
        </div>
        <div class="card-header">
          <h4><i class="fas fa-star"></i> {{ boardgame.rate }}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ boardgame.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ boardgame.year }}</h6>
          <p class="card-text">Players: {{ boardgame.minPlayers }}-{{ boardgame.maxPlayers }}</p>
          <p class="card-text">Time: {{ boardgame.time }} min</p>
          <p class="card-text">Complexity: {{ boardgame.level }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}