{% extends "base.html" %}
{% block content %}
<div class="signingPage">
  <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center vertical-center">
        <div class="card login-card text-center border-info">
          <img src="{{ url_for('static', filename='login_img.jpg') }}" class="card-img-top" alt="Login">
          <div class="card-body">
            <h1>BoardGames</h1>
            <a href="{{ url_for('login') }}" class="btn btn-info btn-block btn-large">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}