{% extends "base.html" %}
{% block content %}

<div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border border-info">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add friend</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{ url_for('addfriend') }}" method="post">
        <div class="modal-body text-center">
            <div class="form-group">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% if messages[0] == "Alredy_is" %}
                      <input type="text" name="email" class="form-control is-invalid" placeholder="E-mail" required="required" />
                      <div class="invalid-feedback">
                        You are alredy friend with that user!
                      </div>
                    {% else %}
                      <input type="text" name="email" class="form-control is-invalid" placeholder="E-mail" required="required" />
                      <div class="invalid-feedback">
                        You can't be firend with yourself!
                      </div>
                    {% endif %}
                  {% else %}
                  <input type="text" name="email" class="form-control" placeholder="E-mail" required="required" />
                  {% endif %}
                {% endwith %}
              </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Collection
                        </a>
                        <a class="nav-link" href="#">
                            Friends
                        </a>
                        <a class="nav-link" href="#">
                            Settings
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Friends</span>
                    <button type="button" class="btn btn-xs btn-outline-secondary" data-toggle="modal" data-target="#addFriendModal">
                        <i class="fas fa-plus"></i>
                    </button>
                </h6>
                <ul class="nav flex-column mb-2">
                    {% for friend in friends_waiting %}
                    <li class="list-group-item">
                        <div class="media">
                            <img src="{{ friend.avatar }}" class="align-self-center mr-3 avatar" alt="avatar">
                            <div class="media-body">
                                {{ friend.name }}
                                <a class="btn btn-outline-success btn-xs" href="{{ url_for('acceptfriend', id=friend.id) }}"
                                    type="button">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a class="btn btn-outline-danger btn-xs" href="{{ url_for('declinefriend', id=friend.id) }}"
                                    type="button">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="nav flex-column mb-2">
                    {% for friend in friends_accepted %}
                    <li class="list-group-item">
                        <div class="media">
                            <img src="{{ friend.avatar }}" class="align-self-center mr-3 avatar" alt="avatar">
                            <div class="media-body">
                                <a class="nav-link" href="{{ url_for('friend', id=friend.id) }}">
                                    <span data-feather="file-text"></span>
                                    {{ friend.name }}
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {% block content2 %}
        {% endblock %}

        {% endblock %}